#footer {
  clear: both;
  text-align: center;
  color: white;
}



.footer_details h1 {
  font-size: 1.5vw;
  font-weight: bolder;
}

.footer_copyright_info h1 {

  font-size: 15px;
  font-weight: bold;
}

.footer_copyright_info p {

  font-size: 12px;
  margin: 0;
  padding: 0;
}
