<div class="container">
  <div class="row">
    <div class="col-md-12">
    <!-- <div class="col-md-10">-->
        <div class="card">
          <img
            class="img-fluid rounded mb-4 mb-lg-0"
            src="/assets/gif/ContactosGf.gif"
            alt=""
          />
          <div class="card-body">
            <h3 class="card-title">SmartStore</h3>
            <p>
              Somos una tienda totalmente virtual, esta idea nació de un
              proyecto de la universidad que tuvieron nuestros fundadores y lo
              convirtieron en realidad con trabajo duro y esfuerzo. Si tiene
              alguna duda o necesita comunicarse con nosotros nos puede
              contactar por medio de nuestros correos o números de telefónos y
              con mucho gusto le contestaremos.
            </p>
            <div class="row">
             <div id="datos" class="col-lg-5">
            <h3 >Correos:</h3>
            <ul>
              <li><p>info_smartstore@smartStore.com</p></li>
              <li><p>support_smartstore@smartStore.com</p></li>
            </ul>
            </div>
            <div  id="datos" class="col-lg-3">
            <h3>Tel:</h3>
            <ul>
              <li><p>24857893</p></li>
              <li><p>24829874</p></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
<br/> <br/>
        <h2 id="title">Nuestros fundadores</h2>

<div class="row">
        <div id="fund" class="card col-md-5">
          <img id="imgFund" class="img-fluid rounded mb-4 mb-lg-0" src="/assets/img/Avatar-Hombre.png" alt="" />
          <div class="card-body">
            <h3 class="card-title">José Salas</h3>
            <hr />
            <h5>Información de contacto:</h5>
            <h6>Correo:</h6>
            <p>jsalas@smartStore.com</p>
            <h6>Tel:</h6>
            <p>+(506) 8745-9682</p>
          </div>
        </div>


        <div id="fund" class="card col-md-5">
          <img id="imgFun2" class="img-fluid rounded mb-4 mb-lg-0" src="/assets/img/Arquitecta.png" alt="" />
          <div class="card-body">
            <h3 class="card-title">Gabriela Bolaños</h3>
            <hr/>
            <h5>Información de contacto:</h5>
            <h6>Correo:</h6>
            <p>gbolanos@smartStore.com</p>
            <h6>Tel:</h6>
            <p>+(506) 8526-9531</p>
          </div>
        </div>
</div>
    </div>
<!--  </div>-->
</div>
