<div class="container-fluid" margen>
  <div class="row my-2">
    <div class="col-md-4 my-4" *ngFor="let item of datos">
      <!-- Información -->
      <div class="card border-info mb-4">
        <h2 class="card-title">Número de orden {{item.id}}</h2>
        <div class="card-body">
          <h6 class="card-text">Fecha: {{item.date | date: "dd-MM-yyyy"}}</h6>
         <h6 class="card-text">Hora: {{item.date | date: "HH:mm:ss"}}</h6>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody  >
              <tr *ngFor="let detail of item.order_products">
                <td>{{detail.product.description}}</td>
                <td>{{detail.quantity}}</td>
                <td>{{detail.price | currency:'CR'}}</td>
              </tr>
            </tbody>
          </table>
          <h5 class="card-text">Costo de envio: {{item.sending_cost | currency:'CR'}}</h5>
            <h5 class="card-text">Impuesto: {{item.IV | currency:'CR'}}</h5>
          <h5 class="card-text">Total: {{item.subtotal | currency:'CR'}}</h5>
          <h5 class="card-text">{{item.deliverytype.description}}</h5>
          <a class="btn btn-info" [routerLink]="['/bill/',item.id]" routerLinkActive="active"><i
              class="fas fa-cash-register"></i> Facturar </a>
        </div>
      </div>
    </div>
  </div>
</div>
