<div class="row justify-content-center margen" id="main">
  <div class="col-md-11">
    <h4 class="mb-3">Crear Personal de Entregas</h4>
    <div class="container">
      <form [formGroup]="formCreate" (ngSubmit)="submitForm()" novalidate>
        <div class="row justify-content-center margen">
          <!--Formulario información-->
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="id">Cédula</label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="formControl"
                  formControlName="id"
                  name="id"
                  minlength="9"
                  maxlength="9"
                  placeholder="Cédula Vendedor" required
                />
              </div>
              <div class="col-sm-4" >
                <small
                  *ngIf="errorHandling('id', 'required')"
                  class="text-danger"
                >
                  La cédula del personal de entregas es requerida.
                </small>
                <!-- <small
                  *ngIf="errorHandling('id', 'pattern')"
                  class="text-danger"
                >
                  La cédula del vendedor debe ser númerica.
                </small>
                <small
                  *ngIf="errorHandling('id', 'maxLength(9)')"
                  class="text-danger"
                >
                  La cédula del vendedor no debe ser mayor a 9.
                </small>
                <small
                  *ngIf="errorHandling('id', 'minLength(9)')"
                  class="text-danger"
                >
                  La cédula del vendedor no debe ser menor a 9.
                </small>-->
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="name">Nombre </label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="formControl"
                  formControlName="name"
                  name="name"
                  placeholder="Nombre vendedor"
                />
              </div>
              <div class="col-auto">
                <small
                  *ngIf="errorHandling('name', 'required')"
                  class="text-danger"
                >
                  El nombre del personal de entregas es requerido
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="phone"
                >Teléfono</label
              >
              <div class="col-sm-8">
                <input
                  type="text"
                  class="formControl"
                  formControlName="phone"
                  name="phone"
                  minlength="8"
                  maxlength="8"
                  placeholder="Teléfono Vendedor"
                />
              </div>
              <div class="col-sm-4">
                <small
                  *ngIf="errorHandling('phone', 'required')"
                  class="text-danger"
                >
                  El teléfono del personal de entregas es requerido.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label for="transport_id">Transporte</label>
              <select
                class="form-control"
                id="combo"
                formControlName="transport_id"
              >
                <option *ngFor="let trans of transportList" [value]="trans.id">
                  Marca: {{ trans.brand }}, modelo: {{ trans.model }}
                </option>
              </select>
              <div class="col-sm-4">
                <small
                  *ngIf="errorHandling('transport_id', 'required')"
                  class="text-danger"
                >
                  La transporte es requerido
                </small>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button
                  type="reset"
                  class="btn btn-secondary"
                  (click)="onReset()"
                >
                  Cancelar
                </button>
                <button type="button" class="btn btn-info" (click)="onBack()">
                  Regresar
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
