<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="formulario" (ngSubmit)="submitForm()" novalidate>
      <!--Error-->
      <div class="form-group row">
        <label for="email">
          <img src="../../../assets/img/icons/message (1).png" style="margin-right: 10px;"/>Email</label
        >
        <input
          type="email"
          class="form-control"
          placeholder="ejemplo@correo.com"
          formControlName="email"
        />
        <div class="col-sm-4">
          <small class="text-danger" *ngIf="errorHandling('email', 'required')">
            El email es requerido
          </small>
          <small class="text-danger" *ngIf="errorHandling('email', 'email')">
            Verifique el formato del email
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="password"
          ><img src="../../../assets/img/icons/padlock (1).png" style="margin-right: 10px;" />Password</label
        >
        <input
          type="password"
          class="form-control"
          placeholder="******"
          formControlName="password"
        />
        <div class="col-sm-3">
          <small
            class="text-danger"
            *ngIf="errorHandling('password', 'required')"
          >
            El password es requerido
          </small>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="reset" class="btn btn-secondary" (click)="onReset()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
