#navbar {
  background-color: #0000000a;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  font-size: 20px;
  color: white;
  z-index: 1;
}
#navbar a {
  color: #dfdfdf;
}
#navbar a:hover {
  color: rgb(146, 196, 224);
  text-decoration: underline;
}
.dropdown-menu {
  background-color: #7db1ff3d;
  backdrop-filter: blur(5px);
  border: none;
}
.dropdown-menu a:hover {
  background-color: #00258b8e;
  border: none;
}

#userdata {
  background-color: #00000000;
  color: white;
}

#userdata:hover {
  background-color: #00000000;
  color: white;
}
#userul{
margin-right: 7%;
}
