<div class="row justify-content-center margen" id="main">
  <div class="col-11">
    <h4 class="mb-3">Actualizar Personal de Entrega</h4>
    <ng-template #loading>
      <img
        class="img-fluid rounded mx-auto d-block"
        src="../../../assets/gif/loading.gif"
        alt="Cargando..."
        style="width: 150px; height: 150px"
      />
    </ng-template>
    <ng-template [ngIf]="driver" [ngIfElse]="loading">
      <form [formGroup]="formUpdate" (ngSubmit)="submitForm()" novalidate>
        <div class="row justify-content-center margen">
          <!--Formulario información-->
          <div class="col-md-6">
            <!-- Identificador del videojuego -->
            <input type="hidden" formControlName="id" />
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="name">Nombre </label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="formControl"
                  formControlName="name"
                  placeholder="Nombre videojuego"
                />
              </div>
              <div class="col-auto">
                <small
                  *ngIf="errorHandling('name', 'required')"
                  class="text-danger"
                >
                  El nombre es requerido
                </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="phone"
                >Teléfono
              </label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="formControl"
                  formControlName="phone"
                />
              </div>
              <div class="col-sm-4">
                <small
                  *ngIf="errorHandling('phone', 'required')"
                  class="text-danger"
                >
                  Teléfono es requerido
                </small>
              </div>
            </div>
              <div class="form-group">
                <label for="transport_id">Transporte</label>
                <select
                  class="form-control"
                  id="combo"
                  formControlName="transport_id"
                >
                  <option
                    *ngFor="let t of transportList"
                    [value]="t.id"
                  >
                    Marca: {{ t.brand }}, modelo: {{ t.model }}
                  </option>
                </select>
                <div class="col-sm-4">
                  <small
                    *ngIf="errorHandling('transport_id', 'required')"
                    class="text-danger"
                  >
                    El transporte es requerido
                  </small>
                </div>
              </div>
            <div class="col-md-6 mb-3">
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button
                  type="reset"
                  class="btn btn-secondary"
                  (click)="onReset()"
                >
                  Cancelar
                </button>
                <button type="button" class="btn btn-info" (click)="onBack()">
                  Regresar
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </div>
</div>
